seamless.code-workspace
.vscode/
*.pyc
/build/
/dist/
**/build/*.1
/docker/commands/doc/man/seamless-buffer-cache.zip
/docker/commands/doc/man/seamless-result-cache.dat
*.egg-info/
*.*~
*/__pycache__/
